In [1]:
import pandas as pd 
import os
import json
import numpy as np
import ast
import nltk
import re
pd.options.display.max_columns=40
from sklearn.base import TransformerMixin , BaseEstimator

In [2]:
data = pd.read_csv(r'C:\Users\saadb\recommendation_project\recommendation_model\dataset\movies_metadata.csv',low_memory=False,date_parser='release_date')

In [3]:
data.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [5]:
data.shape

(45466, 24)

In [6]:
data.isna().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

initial thoughts about data :-
-irrelevant columns ( id - imdb_id - homepage - poster_path ) id maybe useable if needed to merge data 
-columns ( belongs_to_collection - tagline ) have a lot of missing data inspect to see what is the reason and how to deal with it

In [7]:
#dropping irrelevant columns 
data.drop(['imdb_id','homepage','poster_path'],axis=1,inplace=True)

In [8]:
#nothing suspicious about belongs to collection having so much nans 
data[data['belongs_to_collection'].isnull()].head()

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",949,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.924927,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",11860,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",45325,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",2.561161,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0

In [9]:
json.loads(data['belongs_to_collection'][0].replace("'",'"'))

{'id': 10194,
 'name': 'Toy Story Collection',
 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg',
 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}

In [10]:
# function to handle json data replacing "" and '' as json format should be and then use json.loads and if anything went 
#wrong or some addidtion error like i have visuilized values like nan instead of json dict we replace those with np.nan
def handle_json(x):
    try :
        
        x = x.replace("'",'"')
    
        x = json.loads(x)
        
    except :
        return np.nan
    
    return x

In [11]:
#apply handle_json to 'belongs_to_collection' 
data['belongs_to_collection'] = data['belongs_to_collection'].apply(lambda x : handle_json(x))

In [12]:
#action may improve performance 
#notice that number of nan values increased i was expecting that number of nans will be equal to the number showen above from  
# info function after printing number of nan of all columns this number increased by 1323 need to investigate more in this 
data['belongs_to_collection'].isnull().value_counts()

True     42295
False     3171
Name: belongs_to_collection, dtype: int64

In [13]:
#extracting collection name from 'belongs_to_collection' as the useful information about this feature 
data['belongs_to_collection'].apply(lambda x : x['name'] if isinstance(x,dict) else np.nan)

0                  Toy Story Collection
1                                   NaN
2             Grumpy Old Men Collection
3                                   NaN
4        Father of the Bride Collection
                      ...
45461                               NaN
45462                               NaN
45463                               NaN
45464                               NaN
45465                               NaN
Name: belongs_to_collection, Length: 45466, dtype: object

In [14]:
data['belongs_to_collection'] = data['belongs_to_collection'].apply(lambda x : x['name'] if isinstance(x,dict) else np.nan)

In [15]:
# for genres we need to extract all possible genres from multiple dict same concept to deal with json format but to get the 
# useful final form of the feature will need to modify code used for extraction 
data['genres'][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [16]:
#dealng with json format 
data['genres'] = data['genres'].apply(lambda x : handle_json(x))

In [17]:
# used code from course on udemy for the join idea 
data['genres'].apply(lambda x : '|'.join(i['name'] for i in x) if isinstance(x,list) else np.nan)

0         Animation|Comedy|Family
1        Adventure|Fantasy|Family
2                  Romance|Comedy
3            Comedy|Drama|Romance
4                          Comedy
                   ...
45461                Drama|Family
45462                       Drama
45463       Action|Drama|Thriller
45464
45465
Name: genres, Length: 45466, dtype: object

In [18]:
data['genres'] = data['genres'].apply(lambda x : '|'.join(i['name'] for i in x) if isinstance(x,list) else np.nan)

In [19]:
# for language column numbers are being counted as language and i think this is not valid 
data['original_language'].value_counts().tail(25)

lo       2
mn       2
pa       2
iu       2
af       2
82.0     1
cy       1
sm       1
hy       1
uz       1
68.0     1
gl       1
lb       1
mt       1
rw       1
fy       1
ay       1
eo       1
tg       1
jv       1
zu       1
qu       1
104.0    1
la       1
si       1
Name: original_language, dtype: int64

# so they are string i think to get the numbers we can use nltk and use that to eliminate number like string or we can iterte 
# over every row in language column and chech if it contain number

In [20]:
x=[]
for ele in data['original_language'].dropna():
    results = re.findall('[0-9]+',ele)
    if results:
        x.append(results[0])

In [21]:
x

['104', '68', '82']

In [22]:
#so after extracting numbers that was parsed as strings using re we can remove them but they are represented in float format 
# and we captured integer format thats why '.0' is added to them 
for i in x:
    i = i + '.0'
    data['original_language'].replace(i,np.nan,inplace=True)

In [23]:
#i need to see the duplicate if they are movies remake
data['original_title'].value_counts()

Hamlet                 8
Alice in Wonderland    8
Les Misérables         7
Cinderella             7
Macbeth                7
                      ..
거미숲                    1
What Goes Up           1
12th & Delaware        1
Wonder Bar             1
Queerama               1
Name: original_title, Length: 43373, dtype: int64

In [24]:
#incpecting hamlet for example
hamlet = data[(data['original_title']=='Hamlet')]

In [25]:
#as we see they are the same tilte but different movies so movie remade 
hamlet

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
1360,False,NaN,0,Drama,10549,en,Hamlet,"Hamlet, Prince of Denmark, returns home to fin...",9.994088,"[{'name': 'Castle Rock Entertainment', 'id': 9...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1996-12-25,0.0,242.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Hamlet,False,7.3,118.0
1832,False,NaN,750000,Drama,23383,en,Hamlet,"Winner of four Academy Awards, including Best ...",3.188067,"[{'name': 'Two Cities Films', 'id': 4006}]","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",1948-03-25,0.0,155.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Hamlet,False,7.1,48.0
3476,False,NaN,2000000,Drama,10688,en,Hamlet,Modern day adaptation of Shakespeare's immorta...,12.896203,"[{'name': 'Miramax Films', 'id': 14}, {'name':...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-05-12,1568749.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Passion, Betrayal, Revenge, A hostile takeover...",Hamlet,False,6.0,35.0
3601,False,NaN,0,Drama|History,10264,en,Hamlet,"Hamlet, Prince of Denmark, finds out that his ...",12.50303,"[{'name': 'Icon Productions', 'id': 152}, {'na...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1990-12-19,20710451.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The extraordinary adaptation of Shakespeare's ...,Hamlet,False,6.7,95.0
13313,False,NaN,0,Drama,125705,en,Hamlet,"To be or not to be, etc.",0.584251,"[{'name': 'Hallmark Entertainment', 'id': 4056}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-12-10,0.0,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Hamlet,False,0.0,0.0
18061,False,NaN,0,Drama,42605,en,Hamlet,Tony Richardson's Hamlet is based on his own s...,0.873375,"[{'name': 'Columbia Pictures Corporation', 'id...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",1969-12-21,0.0,117.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,From the author of,Hamlet,False,6.1,7.0
18908,False,NaN,0,Drama,28238,en,Hamlet,David Tennant stars in a film of the Royal Sha...,1.682371,"[{'name': 'NHK Enterprises', 'id': 11376}, {'n...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2009-12-26,0.0,185.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"To be, or not to be?",Hamlet,False,7.3,22.0
21239,False,NaN,0,Drama,106848,en,Hamlet,Hamlet comes home from university to find his ...,0.48737,[],[],1980-05-25,0.0,210.0,[],Released,NaN,Hamlet,False,4.0,3.0

In [26]:
#here i can replace 'No overview found' , 'No Overview' , 'No movie overview available' and blancks with 'missing'
data['overview'].value_counts()

No overview found.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       133
No Overview                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                7
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           5
No movie overview available.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               3
A few funny little novels about different aspects of life.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ...
"Of Time and The City" is both a love song and a eulogy to the director's birthplace of Liverpool, England. It is also a response to memory, reflection and the experience of losing a sense of place as the skyline changes and time takes it toll. The visual content of the film consists largely of archival clips of Liverpool from the 1940s to the 1960s, their nostalgic charm darkened by accompanying music and by the counterpoint of Davies’ dry, at times dyspeptic, voice-over narration. His voice thickens with emotion as he recalls the delights of juvenile movie-going or the ritual of a holiday trip to New Brighton, across the River Mersey, and hardens with contempt when he turns his gaze on the hoopla surrounding Queen Elizabeth’s coronation in 1953.      1
We are in the year 1871. A journalist for Versailles Television broadcasts a soothing and official view of events while a Commune television is set up to provide the perspectives of the Paris rebels. On a stage-like set, more than 200 actors interpret characters of the Commune, especially the Popincourt neighbourhood in the XIth arrondissement. They voice their own thoughts and feelings concerning the social and political reforms. The scenes consist mainly of long camera takes.                                                                                                                                                                                                                                                                                         1
A kindergarten director Troshkin is a dead ringer for a criminal nicknamed "Docent" who stole the priceless...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
A man wakes up deep inside a cave. Suffering amnesia, he has no recollection of how he came to be here or of what happened to the man whose body he finds beside him. Tailed by a mysterious creature, he must continue through this strange and fantastic world. Enclosed, Tolbiac has no other option to reach the surface than to use REZO ZERO, secret observing cells in this cemetery-like abandoned mine.                                                                                                                                                                                                                                                                                                                                                                           1
50 years after decriminalisation of homosexuality in the UK, director Daisy Asquith mines the jewels of the BFI archive to take us into the relationships, desires, fears and expressions of gay men and women in the 20th century.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
Name: overview, Length: 44307, dtype: int64

In [27]:
strings_to_replace_overview = ['No overview found.' , 'No Overview' , 'No movie overview available', ' ','No movie overview available.']
for ele in strings_to_replace_overview:
    data['overview'].replace(ele,'missing',inplace=True)

In [28]:
data['overview'].value_counts(ascending=False)

missing                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  148
King Lear, old and tired, divides his kingdom among his daughters, giving great importance to their protestations of love for him. When Cordelia, youngest and most honest, refuses to idly flatter the old man in return for favor, he banishes her and turns for support to his remaining daughters. But Goneril and Regan have no love for him and instead plot to take all his power from him. In a parallel, Lear's loyal courtier Gloucester favors his illegitimate son Edmund after being told lies about his faithful son Edgar. Madness and tragedy befall both ill-starred fathers.                                                                                                                                                                                             3
Released                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   3
Adaptation of the Jane Austen novel.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       3
Recovering from a nail gun shot to the head and 13 months of coma, doctor Pekka Valinta starts to unravel the mystery of his past, still suffering from total amnesia.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ...
"Of Time and The City" is both a love song and a eulogy to the director's birthplace of Liverpool, England. It is also a response to memory, reflection and the experience of losing a sense of place as the skyline changes and time takes it toll. The visual content of the film consists largely of archival clips of Liverpool from the 1940s to the 1960s, their nostalgic charm darkened by accompanying music and by the counterpoint of Davies’ dry, at times dyspeptic, voice-over narration. His voice thickens with emotion as he recalls the delights of juvenile movie-going or the ritual of a holiday trip to New Brighton, across the River Mersey, and hardens with contempt when he turns his gaze on the hoopla surrounding Queen Elizabeth’s coronation in 1953.      1
We are in the year 1871. A journalist for Versailles Television broadcasts a soothing and official view of events while a Commune television is set up to provide the perspectives of the Paris rebels. On a stage-like set, more than 200 actors interpret characters of the Commune, especially the Popincourt neighbourhood in the XIth arrondissement. They voice their own thoughts and feelings concerning the social and political reforms. The scenes consist mainly of long camera takes.                                                                                                                                                                                                                                                                                         1
A kindergarten director Troshkin is a dead ringer for a criminal nicknamed "Docent" who stole the priceless...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
A man wakes up deep inside a cave. Suffering amnesia, he has no recollection of how he came to be here or of what happened to the man whose body he finds beside him. Tailed by a mysterious creature, he must continue through this strange and fantastic world. Enclosed, Tolbiac has no other option to reach the surface than to use REZO ZERO, secret observing cells in this cemetery-like abandoned mine.                                                                                                                                                                                                                                                                                                                                                                           1
50 years after decriminalisation of homosexuality in the UK, director Daisy Asquith mines the jewels of the BFI archive to take us into the relationships, desires, fears and expressions of gay men and women in the 20th century.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
Name: overview, Length: 44304, dtype: int64

In [29]:
data['popularity'].value_counts(ascending=False)

0.0         66
1e-06       56
0.000308    43
0.00022     40
0.001177    38
            ..
4.762242     1
6.173752     1
0.645652     1
0.556292     1
0.163015     1
Name: popularity, Length: 43758, dtype: int64

In [30]:
data['popularity'].replace('Beware Of Frost Bites',np.nan,inplace=True)

In [126]:
string_popularity_no_floats = [x for x in data['popularity'] if not isinstance(x,float)]

In [127]:
string_popularity = [x for x in string_popularity_no_floats if re.search('[a-zA-Z]', x)]

In [128]:
string_popularity

['8.2e-05',
 '4e-06',
 '1.7e-05',
 '1e-06',
 '6e-06',
 '1e-06',
 '3.3e-05',
 '1e-06',
 '3.8e-05',
 '1e-06',
 '5.9e-05',
 '1e-06',
 '1e-06',
 '2.1e-05',
 '1e-06',
 '7e-06',
 '1.3e-05',
 '5e-06',
 '8.8e-05',
 '1e-06',
 '1e-06',
 '4e-06',
 '8e-06',
 '1.1e-05',
 '2.1e-05',
 '3.8e-05',
 '3e-06',
 '1.8e-05',
 '3.1e-05',
 '4.2e-05',
 '2e-06',
 '7.4e-05',
 '4.1e-05',
 '1.8e-05',
 '9.1e-05',
 '8e-06',
 '6.9e-05',
 '1e-06',
 '2.4e-05',
 '1e-06',
 '1.1e-05',
 '1e-06',
 '3e-06',
 '9.4e-05',
 '3.8e-05',
 '8e-06',
 '1e-06',
 '1e-06',
 '8e-06',
 '8.2e-05',
 '4.4e-05',
 '2.3e-05',
 '1e-05',
 '3.9e-05',
 '1e-06',
 '1e-06',
 '2e-06',
 '4e-05',
 '1.1e-05',
 '1.5e-05',
 '1.3e-05',
 '7.4e-05',
 '1e-06',
 '4.9e-05',
 '9.5e-05',
 '1e-06',
 '1e-06',
 '1e-06',
 '5.7e-05',
 '3e-06',
 '1e-06',
 '1.8e-05',
 '3e-06',
 '2.1e-05',
 '1e-06',
 '1e-06',
 '3.2e-05',
 '1e-06',
 '1e-06',
 '2e-06',
 '5.3e-05',
 '1e-06',
 '2.1e-05',
 '1e-06',
 '4.8e-05',
 '7.3e-05',
 '1e-06',
 '1.1e-05',
 '1e-06',
 '6e-05',
 '9e-06',
 '7.3e-05',
 '1e-06',
 '1e-06',
 '1e-06',
 '1e-06',
 '1e-06',
 '8e-06',
 '1e-06',
 '4e-06',
 '1e-06',
 '4e-06',
 '1e-06',
 '1e-06',
 '3.6e-05',
 '2e-06',
 '6.2e-05',
 '3.8e-05',
 '1.9e-05',
 '1e-06',
 '2.6e-05',
 '4.3e-05',
 '1e-06',
 '3.5e-05',
 '3.5e-05',
 '9e-06',
 '9.4e-05',
 '1e-06',
 '1.1e-05',
 '1e-06',
 '2.5e-05',
 '1e-06',
 '2.3e-05',
 '2e-06',
 '1e-06',
 '5e-05',
 '6e-06',
 '4.2e-05',
 '2.1e-05',
 '1e-06',
 '1e-06',
 '8e-06',
 '1e-06',
 '8e-05',
 '1e-06',
 '1e-06',
 '2.5e-05',
 '1e-06',
 '4e-06',
 '1.5e-05',
 '1e-06',
 '6e-06',
 '1e-06',
 '1e-06',
 '6e-06',
 '2.2e-05',
 '2.9e-05',
 '3e-06',
 '5e-05',
 '1e-06',
 '1e-06',
 '3e-06',
 '1e-06',
 '2e-06',
 '3.5e-05']

after reviwing popularity values noticed that we have 66 movie with 0.0 popularity and this seem odd somehow tried to view those movies but couldnt becuase the numbers are strings and cant convert them to floats becuase we have string also 'Beware Of Frost Bites' i captured by regular expressions so i need to remove or replace 'Beware Of Frost Bites' by nan and convert popularity type to float and inspect the odd popularities so after inspecting the 0.0 popularity thier is relationship i think between missing values in most of columns and the 0.0 popularity we can maybe remove or drop these rows.

In [129]:
data['popularity'] = data['popularity'].astype(float)

In [146]:
index_of_zero_popularity = data[(data['popularity']==0.0)].index

In [144]:
data.drop(index_of_zero_popularity , axis=0 ,inplace=True)

In [147]:
index_of_zero_popularity

Int64Index([], dtype='int64')

In [149]:
# from 'production_companies' column i only need name so i can try extract that 
data['production_companies'][1]

"[{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 2550}, {'name': 'Interscope Communications', 'id': 10201}]"

In [150]:
#here missing values represented by empty list []
data['production_companies'].value_counts(ascending=False)

[]                                                                                                                                                                                                                                                                                                                                                      11817
[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8411}]                                                                                                                                                                                                                                                                                                       742
[{'name': 'Warner Bros.', 'id': 6194}]                                                                                                                                                                                                                                                                                                                    540
[{'name': 'Paramount Pictures', 'id': 4}]                                                                                                                                                                                                                                                                                                                 504
[{'name': 'Twentieth Century Fox Film Corporation', 'id': 306}]                                                                                                                                                                                                                                                                                           439
                                                                                                                                                                                                                                                                                                                                                        ...
[{'name': 'HBO Films', 'id': 7429}, {'name': 'Moving Pictures', 'id': 15888}]                                                                                                                                                                                                                                                                               1
[{'name': 'BIM Distribuzione', 'id': 225}, {'name': 'Canal+', 'id': 5358}, {'name': 'Alta Producción', 'id': 10011}, {'name': 'Centre National de la Cinématographie (CNC)', 'id': 18367}, {'name': 'Rézo Productions', 'id': 30231}, {'name': 'Compagnie Eric Rohmer (CER)', 'id': 30232}, {'name': 'Cinémage', 'id': 30233}]                              1
[{'name': 'Galatée Films', 'id': 793}, {'name': 'Novo Arturo Films', 'id': 1168}, {'name': 'Constantin Film Produktion', 'id': 5755}, {'name': 'Pathé', 'id': 7981}, {'name': 'France 2 Cinéma', 'id': 15671}, {'name': 'France 3 Cinema', 'id': 16804}, {'name': 'Logline Studios', 'id': 23066}, {'name': 'Blue Screen Productions', 'id': 23067}]        1
[{'name': 'Fox Searchlight Pictures', 'id': 43}, {'name': '26 Films', 'id': 2157}]                                                                                                                                                                                                                                                                          1
[{'name': 'Yermoliev', 'id': 88753}]                                                                                                                                                                                                                                                                                                                        1
Name: production_companies, Length: 22703, dtype: int64

In [151]:
data['production_companies'] = data['production_companies'].apply(lambda x : handle_json(x))

In [152]:
data['production_companies'][1][0]['name']

'TriStar Pictures'

In [153]:
data['production_companies'] = data['production_companies'].apply(lambda x : '|'.join(i['name'] for i in x) if isinstance(x,list) else np.nan)

In [154]:
data['production_countries'][0]

"[{'iso_3166_1': 'US', 'name': 'United States of America'}]"

In [155]:
data['production_countries'] = data['production_countries'].apply(lambda x : handle_json(x))

In [156]:
data['production_countries'] = data['production_countries'].apply(lambda x : '|'.join(i['name'] for i in x) if isinstance(x,list) else np.nan)

In [157]:
#missing values represented here by empty space we need to replace that with 'missing' 
data['production_countries'].value_counts(ascending=False)

United States of America                17845
                                         6237
United Kingdom                           2236
France                                   1653
Japan                                    1355
                                        ...
Australia|South Africa                      1
Romania|United Kingdom|Canada               1
Finland|Germany|Netherlands                 1
France|Denmark|Spain|Sweden                 1
Egypt|Italy|United States of America        1
Name: production_countries, Length: 2385, dtype: int64

In [158]:
data['production_countries'].replace('' , 'missing', inplace=True)

In [159]:
#for budget column we have a lot of values with 0 budget and this is not true or vlad value so we can replace these values with 
#np.nan
data['budget'].value_counts(ascending=False)

0           36509
5000000       286
10000000      259
20000000      243
2000000       242
            ...
923             1
72500000        1
2160000         1
4439832         1
1254040         1
Name: budget, Length: 1226, dtype: int64

In [163]:
#thier is not a lot of missing values crossponding to 0 budget so we can just replace them with np.nan
data[(data['budget']=='0')]

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
2,False,Grumpy Old Men Collection,0,Romance|Comedy,15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,Warner Bros.|Lancaster Gate,United States of America,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
4,False,Father of the Bride Collection,0,Comedy,11862,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,Sandollar Productions|Touchstone Pictures,United States of America,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
7,False,NaN,0,Action|Adventure|Drama|Family,45325,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",2.561161,Walt Disney Pictures,United States of America,1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
11,False,NaN,0,Comedy|Horror,12110,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,5.430331,Columbia Pictures|Castle Rock Entertainment|En...,France|United States of America,1995-12-22,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0
12,False,Balto Collection,0,Family|Animation|Adventure,21032,en,Balto,An outcast half-wolf risks his life to prevent...,12.140733,Universal Pictures|Amblin Entertainment|Amblim...,United States of America,1995-12-22,11348324.0,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,Drama|Family,439050,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,,Iran,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,Drama,111109,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,Sine Olivia,Philippines,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,Action|Drama|Thriller,67758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,American World Pictures,United States of America,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,,227506,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,Yermoliev,Russia,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,,461257,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,,United Kingdom,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [164]:
#cupturing strings in budget column
string_budget = [x for x in data['budget'] if re.search('[a-zA-Z]', x)]

In [165]:
string_budget

['/ff9qCepilowshEtG2GYWwzt2bs4.jpg',
 '/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg',
 '/zaSf5OG7V8X8gqFvly88zDdRm46.jpg']

In [166]:
for i in string_budget:
    data['budget'].replace(i,np.nan,inplace=True)

In [167]:
data['budget'] = data['budget'].astype(float)

In [171]:
data['budget'].replace(0.0,np.nan,inplace=True)

In [168]:
data['release_date'] = pd.to_datetime(data['release_date'],errors='coerce')

In [169]:
data['release_date'].value_counts(ascending=False)

2008-01-01    136
2009-01-01    121
2007-01-01    118
2005-01-01    111
2006-01-01    101
             ...
1937-10-22      1
1948-07-14      1
1949-08-01      1
1957-09-26      1
1917-10-21      1
Name: release_date, Length: 17321, dtype: int64

In [170]:
#ruffly same 0.0 as 'budget' for 'revenue' column as we dont know budget we cant know revenue i guess i will replace 0.0 with np.nan too
data['revenue'].value_counts(ascending=False)

0.0           37986
12000000.0       20
11000000.0       19
10000000.0       19
2000000.0        18
              ...
36565280.0        1
439564.0          1
35610100.0        1
10217873.0        1
1413000.0         1
Name: revenue, Length: 6863, dtype: int64

In [172]:
data['revenue'].replace(0.0,np.nan,inplace=True)

In [173]:
# runtime for 1558 is 0.0 and this is not valid also so i will replace these with np.nan also 
data['runtime'].value_counts(ascending=False)

90.0     2553
0.0      1540
100.0    1468
95.0     1411
93.0     1213
         ...
410.0       1
283.0       1
238.0       1
566.0       1
780.0       1
Name: runtime, Length: 353, dtype: int64

In [174]:
data['runtime'].replace(0.0,np.nan,inplace=True)

In [175]:
data['spoken_languages'].value_counts(ascending=False)

[{'iso_639_1': 'en', 'name': 'English'}]                                                                                                                                                                   22383
[]                                                                                                                                                                                                          3790
[{'iso_639_1': 'fr', 'name': 'Français'}]                                                                                                                                                                   1851
[{'iso_639_1': 'ja', 'name': '日本語'}]                                                                                                                                                                        1288
[{'iso_639_1': 'it', 'name': 'Italiano'}]                                                                                                                                                                   1218
                                                                                                                                                                                                           ...
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'et', 'name': 'Eesti'}, {'iso_639_1': 'fr', 'name': 'Français'}]                                                                                        1
[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso_639_1': 'fi', 'name': 'suomi'}, {'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso_639_1': 'en', 'name': 'English'}]        1
[{'iso_639_1': 'bs', 'name': 'Bosanski'}, {'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'it', 'name': 'Italiano'}]                                                                                     1
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_639_1': 'te', 'name': 'తెలుగు'}]                                                                                          1
[{'iso_639_1': 'ff', 'name': 'Fulfulde'}, {'iso_639_1': 'en', 'name': 'English'}]                                                                                                                              1
Name: spoken_languages, Length: 1931, dtype: int64

In [176]:
data['spoken_languages'][1]

"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}]"

In [177]:
data['spoken_languages'] = data['spoken_languages'].apply(lambda x : handle_json(x))

In [178]:
data['spoken_languages'] = data['spoken_languages'].apply(lambda x : '|'.join(i['name'] for i in x) if isinstance(x,list) else 'missing')

In [179]:
data['status'].value_counts(ascending=False)

Released           44950
Rumored              229
Post Production       98
In Production         20
Planned               15
Canceled               2
Name: status, dtype: int64

In [180]:
# for tagline i can replace - and blancks with missing 
data['tagline'].value_counts(ascending=False)

Based on a true story.                                        7
Be careful what you wish for.                                 4
-                                                             4
Trust no one.                                                 4
Some doors should never be opened.                            3
                                                             ..
Play it. Sing it. Shout it. Feel it.                          1
If It's On TV, It Must Be The Truth.                          1
"I LOVE YOU BABY, BUT MY WIFE JUST REFUSES TO UNDERSTAND!"    1
That Joyous New Musical !                                     1
A deadly game of wits.                                        1
Name: tagline, Length: 20277, dtype: int64

In [181]:
tagline_replace = ['-' , '']
for i in tagline_replace:
    data['tagline'].replace(i,'missing',inplace=True)

In [182]:
data['title'].value_counts(ascending=False)

Cinderella              11
Alice in Wonderland      9
Hamlet                   9
Beauty and the Beast     8
Les Misérables           8
                        ..
The Exploding Girl       1
Prodigal Sons            1
Seven Angry Men          1
06/05                    1
Queerama                 1
Name: title, Length: 42212, dtype: int64

In [183]:
data['video'].value_counts(ascending=False)

False    45302
True        92
Name: video, dtype: int64

In [184]:
# vote average for 2998 0.0 !!
data['vote_average'].value_counts(ascending=False)

0.0    2932
6.0    2468
5.0    2001
7.0    1886
6.5    1722
       ...
9.4       3
9.6       1
9.8       1
0.7       1
1.1       1
Name: vote_average, Length: 92, dtype: int64

In [194]:
# note 'genres' , 'production_companies' and 'spoken_languages' have blancks deal with this 
data[(data['vote_average']==0.0)].head(30)

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
83,False,NaN,NaN,missing,188588,en,Last Summer in the Hamptons,"Filmed entirely on location in East Hampton, L...",0.531159,missing,missing,1995-11-22,NaN,108.0,missing,Released,NaN,Last Summer in the Hamptons,False,0.0,0.0
107,False,NaN,NaN,Crime,96357,en,Headless Body in Topless Bar,An ex-con holds a group of people hostage in a...,0.001346,missing,missing,1995-05-20,NaN,110.0,missing,Released,NaN,Headless Body in Topless Bar,False,0.0,0.0
126,False,NaN,NaN,missing,290157,en,Jupiter's Wife,"Michel Negroponte, a documentary filmmaker, me...",0.001178,missing,missing,1995-01-01,NaN,87.0,missing,Released,A Haunting Real Life Mystery,Jupiter's Wife,False,0.0,0.0
132,False,NaN,NaN,Music|Documentary,124636,en,Sonic Outlaws,Within days after the release of Negativland's...,0.001838,missing,United States of America,1995-08-01,NaN,87.0,English,Released,NaN,Sonic Outlaws,False,0.0,0.0
137,False,NaN,NaN,missing,124639,en,Target,A subtle yet violent commentary on feudal lords.,0.001205,missing,missing,1995-08-01,NaN,122.0,missing,Released,NaN,Target,False,0.0,0.0
164,False,NaN,NaN,Drama|Crime,259209,en,Feast of July,After an abandoned young woman in late 19th Ce...,0.523575,Touchstone Pictures|Merchant Ivory Productions,missing,1995-10-12,NaN,116.0,English,Released,There is no escape from the past.,Feast of July,False,0.0,0.0
280,False,NaN,NaN,Action|Thriller|Crime|Drama,109560,en,New York Cop,"Allegedly based on a true story, this film fol...",0.004537,TOEI|Distant Justice Joint Venture,Japan|United States of America,1993-08-14,NaN,93.0,English|广州话 / 廣州話,Released,The toughest city in the world deserves the to...,New York Cop,False,0.0,0.0
390,False,NaN,NaN,missing,267188,en,Desert Winds,Jackie and Eugene are joined by a mystical win...,0.251223,missing,missing,1997-12-31,NaN,97.0,missing,Released,It began with a whisper,Desert Winds,False,0.0,0.0
395,False,NaN,NaN,Thriller|Drama,291731,en,Homage,The young caretaker at the estate of a reclusi...,0.014925,Skyline Entertainment Partners|Arrow,United States of America,1995-05-03,NaN,97.0,English,Released,He would sacrifice everything for her...even her.,Homage,False,0.0,0.0
397,False,NaN,NaN,Comedy,203119,en,Open Season,When the television ratings machines suddenly ...,0.012456,Home Box Office (HBO)|Frozen Rope Productions ...,United States of America,1996-05-03,NaN,97.0,English,Released,NaN,Open Season,False,0.0,0.0
554,False,NaN,NaN,missing,218473,en,"The Beans of Egypt, Maine","The Beans are poor, proud, hated by all, but a...",0.382470,missing,missing,1994-01-01,NaN,NaN,missing,Released,NaN,"The Beans of Egypt, Maine",False,0.0,1.0
565,False,NaN,NaN,TV Movie|Drama|Romance|Comedy,53185,en,Wide Eyed and Legless,Diana and Deric have an ideal marriage: they t...,0.000150,missing,missing,1993-09-05,NaN,102.0,English,Released,NaN,Wide Eyed and Legless,False,0.0,0.0
566,False,NaN,NaN,Drama|Romance,95743,en,Foreign Student,A French football playing exchange student fal...,0.002789,missing,missing,1994-07-29,NaN,90.0,English,Released,NaN,Foreign Student,False,0.0,0.0
570,False,NaN,NaN,Comedy,349394,en,À la mode,Fausto enters an orphanage and is initially bu...,0.000082,missing,missing,1993-09-10,NaN,82.0,missing,Released,NaN,À la mode,False,0.0,0.0
635,False,NaN,NaN,Comedy,339428,de,Happy Weekend,NaN,0.002229,Senator Film Produktion,Germany,1996-03-14,65335.0,NaN,Deutsch,Released,NaN,Happy Weekend,False,0.0,0.0
644,False,NaN,NaN,Drama,278978,de,Und keiner weint mir nach,NaN,0.439989,missing,Germany,1996-02-29,NaN,NaN,Deutsch,Released,NaN,Und keiner weint mir nach,False,0.0,0.0
645,False,NaN,NaN,Drama,124625,de,My Mother's Courage,The deportation of 4000 Jews from Budapest to ...,0.622885,missing,United Kingdom|Germany|Ireland|Austria,1995-09-12,NaN,93.0,English|Deutsch,Released,NaN,My Mother's Courage,False,0.0,0.0
648,False,NaN,NaN,missing,70934,en,Billy's Holiday,This movie is all about a normal guy called Bi...,0.002444,missing,missing,1995-07-26,NaN,92.0,missing,Released,"As of today, he's not the man he used to be!",Billy's Holiday,False,0.0,0.0
661,False,NaN,NaN,missing,318177,en,Tarantella,Academy Award winner Mira Sorvino plays photog...,0.001662,missing,missing,1996-03-15,NaN,100.0,English,Released,NaN,Tarantella,False,0.0,0.0
671,False,NaN,NaN,missing,185191,en,L'oeil de Vichy,"Directed by French filmmaker Claude Chabrol, t...",0.004117,missing,missing,1993-05-20,NaN,110.0,missing,Released,NaN,The Eye of Vichy,False,0.0,0.0
685,False,NaN,NaN,missing,277270,en,To Cross the Rubicon,Kendall (Patricia Royce) just got dumped by he...,0.006854,missing,missing,1991-01-01,NaN,NaN,missing,Released,NaN,To Cross the Rubicon,False,0.0,0.0
707,False,NaN,NaN,Drama|Foreign,131232,en,Due Amici,"Two Sicilian friends, Nunzio and Pino, share t...",0.003949,missing,Italy,2002-03-20,NaN,86.0,Italiano,Released,NaN,Two Friends,False,0.0,0.0
711,False,NaN,NaN,missing,365371,en,War Stories Our Mother Never Told Us,Seven New Zealand women speak about their live...,0.005625,missing,missing,NaT,NaN,95.0,missing,Released,NaN,War Stories Our Mother Never Told Us,False,0.0,0.0
722,False,NaN,NaN,Comedy,314352,de,Honigmond,German Comedy,0.652621,Roxy Film|MTM Cineteve|Pro 7,Germany,1996-04-11,NaN,92.0,Deutsch,Released,NaN,Honeymoon,False,0.0,0.0
726,False,NaN,NaN,Comedy|Drama,124613,en,Brothers in Trouble,Amir is an illegal Pakistani immigrant smuggle...,0.594716,Renegade Films,United Kingdom,1995-08-23,NaN,102.0,English,Released,NaN,Brothers in Trouble,False,0.0,0.0
731,False,NaN,NaN,Drama|War,245268,en,The Man from Down Under,An Australian blowhard raises two orphaned chi...,0.068254,Metro-Goldwyn-Mayer (MGM),United States of America,1943-08-04,NaN,103.0,English,Released,THRILLS! FUN! ACTION!,The Man from Down Under,False,0.0,0.0
734,False,NaN,NaN,missing,215107,en,Vermont Is for Lovers,Vermont is for Lovers is an independently prod...,0.750000,missing,missing,NaT,NaN,88.0,missing,Released,NaN,Vermont Is for Lovers,False,0.0,0.0
741,False,NaN,NaN,Documentary,85778,en,Maya Lin: A Strong Clear Vision,A film about the work of the artist most famou...,0.001608,missing,United States of America,1995-11-10,NaN,105.0,English,Released,The story of The Vietnam Veterans Memorial and...,Maya Lin: A Strong Clear Vision,False,0.0,0.0
750,False,NaN,NaN,Drama,124633,sr,Tuđa Amerika,This tale takes place in a bar. The Spanish Al...,0.099602,MACT Productions|Canal+|Stefi 2|Lichtblick Fil...,Serbia|Greece|United Kingdom|France|Germany,1995-09-09,NaN,96.0,English|Srpski,Released,"Two friends, two worlds, one dream.",Someone Else's America,False,0.0,0.0
756,False,NaN,NaN,missing,188589,en,Babyfever,Gena is an average woman who is torn between h...,0.001687,missing,missing,1994-05-04,NaN,109.0,missing,Released,For those who hear their clock ticking...,Babyfever,False,0.0,0.0

In [191]:
data['production_companies'].replace('','missing',inplace=True)
data['genres'].replace('','missing',inplace=True)
data['spoken_languages'].replace('','missing',inplace=True)

In [198]:
#both vote average and vote count 0 to the same rows obersvations 
data.groupby(['vote_average'])['vote_count'].count()

vote_average
0.0     2932
0.5       13
0.7        1
1.0      105
1.1        1
        ...
9.4        3
9.5       18
9.6        1
9.8        1
10.0     190
Name: vote_count, Length: 92, dtype: int64

inspect why vote average of these movies 0

In [366]:
data['vote_count'].value_counts(ascending=False)

1.0       3264
2.0       3132
0.0       2899
3.0       2787
4.0       2480
          ...
2755.0       1
1187.0       1
4200.0       1
3322.0       1
2712.0       1
Name: vote_count, Length: 1820, dtype: int64

inspect why some movies have vote count 1

In [201]:
data['budget'].isna().sum()

36512

scale revenue and budget

In [202]:
data['budget'] = data['budget']/1000000

In [203]:
data['revenue'] = data['revenue']/1000000

In [215]:
os.chdir(r'C:\Users\saadb\recommendation_project')

In [218]:
data.to_csv(path_or_buf='jupyter_notebook/datasets/movies_cleaned.csv',index=False)

In [219]:
df = pd.read_csv('jupyter_notebook/datasets/movies_cleaned.csv')
df.head(3)

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30.0,Animation|Comedy|Family,862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373.554033,81.0,English,Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65.0,Adventure|Fantasy|Family,8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,1995-12-15,262.797249,104.0,English|Français,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,NaN,Romance|Comedy,15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,Warner Bros.|Lancaster Gate,United States of America,1995-12-22,NaN,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0